<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_white_square"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.PermissionActivityForResult"
            android:label="@string/title_activity_permission_for_result"/>

        <activity
            android:name=".activities.PermissionActivity"
            android:label="@string/title_activity_permission"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".activities.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".activities.MainSettings"
            android:label="@string/title_activity_main_settings" />
        <activity
            android:name=".activities.SettingsPicker"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activities.PickSensorMeasure"
            android:label="@string/title_activity_pick_sensor_measure" />
        <activity
            android:name=".activities.StopActivity"
            android:label="@string/title_activity_stopactivity" />
        <activity android:name=".activities.MoveToMain" />

        <service android:name=".communication.MsgListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="/com.motionapps.sensorbox.Sensors"
                    android:scheme="wear" />
            </intent-filter>
        </service>
        <service
            android:name=".rlRecording.RealTimeSensorService"
            android:permission="com.foxpace.sensors.LAUNCH"
            android:exported="true">
            <intent-filter>
                <action android:name="com.foxpace.sensors.LAUNCH" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.PickSensorShow"
            android:label="@string/title_activity_pick_sensor" />
        <activity
            android:name=".charts.GraphViewer"
            android:label="@string/title_activity_graph_viewer" />

        <property
            android:name="android.content.MEDIA_CAPABILITIES"
            android:resource="@xml/media_capabilities" />
    </application>

</manifest>